---
---

@import "{{ site.theme }}";
p.navigation {
  position:fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 30px;
  width: 100%;
  color: black;
  background-color: white;
  style="text-align: center;
 }
figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width 40%;
}
